[submodule "reflex-platform"]
	path = reflex-platform
	url = https://github.com/reflex-frp/reflex-platform.git
[submodule "reflex-websocket-interface"]
	path = reflex-websocket-interface
	url = git@github.com:dfordivam/reflex-websocket-interface.git
[submodule "hsmfcc"]
	path = hsmfcc
	url = git@github.com:dfordivam/hsmfcc.git
[submodule "hsjulius"]
	path = hsjulius
	url = git@github.com:dfordivam/hsjulius.git
[submodule "julius"]
	path = julius
	url = git@github.com:dfordivam/julius.git
